<div class="row">
  <div class="col-lg-12 profile-row container-fluid">
    <div class="col-md-2 col-md-offset-2 center">
      <!-- Hardcoded for now, should be user.profilePic -->
      <% if (user.profilePic) { %>
        <img class="profile-image" src="<%= user.profilePic %>" alt="default profile">
      <% } else { %>
        <img class="profile-image" src="/images/default-avatar.png" alt="default profile">
      <% } %>
    </div>
    <div class="col-md-4 center profile-info">
      <h2><%= user.local.username %></h2>
      <p><%= user.zipCode %></p>
      <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editModal"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Most Recent Favorites</h2>
    <!-- Conditionally show most recent starred -->
    <% if (user.movies.length == 0 && user.restaurants.length == 0) { %>
      <p>You have no favorites,
         to start liking dinners or movies click on the star
         icon after rolling a random date!</p>
    <% }%>
    <!-- <button class="btn">See All Favorites</button> -->
    <hr>
    <h2>Preferences</h2>
    <div class="col-lg-12">
      <div id="cuisine-preferences" class="container col-lg-6">
        <h3>Cuisine Prefernces</h3>

        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">American (New)</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">American (Traditional)</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Asian Fusion</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Breakfast & Brunch</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Burgers</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Cafes</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Chinese</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Delis</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Fast Food</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Italian</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Japanese</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Mediterranean</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Mexican</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Pizza</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Salad</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sandwiches</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Seafood</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sushi Bars</span>
        </label>

      </div>

      <div id="movie-genre-preferences" class="container col-lg-6">
          <h3>Movie Genre Preferences</h3>

        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Action</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Adventure</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Animation</span>
        </label>

        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Biography</span>
        </label>

        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Comedy</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Crime</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Documentary</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Drama</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Family</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Fantasy</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">History</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Horror</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Music</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Musical</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Mystery</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Romance</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sci-Fi</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sport</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Thriller</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">War</span>
        </label>
        <label class="custom-control custom-checkbox col-md-6">
          <input type="checkbox" class="custom-control-input pull-left">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Western</span>
        </label>




      </div>

    </div>
  </div>
</div>




</div>


<!-- Edit Modal -->
<div id="editModal" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Profile Info</h4>
    </div>
    <div class="modal-body">

      <!--  Form for edit -->
      <form method="post" action="/users/<%= user.id %>?_method=PATCH">
        <input type="text" placeholder="Name" name="local.username" value="<%= user.local.username%>"><br>
        <input type="text" placeholder="Zip Code" name="zipCode" value="<%= user.zipCode%>"><br>
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>

</div>
</div>
