<div class="row">
  <div class="col-lg-12 profile-row container-fluid">
    <div class="col-md-2 center">
      <!-- Hardcoded for now, should be user.profilePic -->
      <% if (user.profilePic) { %>
        <img class="profile-image" src="<%= user.profilePic %>" alt="default profile">
      <% } else { %>
        <img class="profile-image" src="/images/default-avatar.png" alt="default profile">
      <% } %>
    </div>
    <div class="col-md-3 center profile-info">

      <h2><%= user.local.username %></h2>
      <p><%= user.zipCode %></p>
      <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editModal"></span>
    </div>

    <div class="col-md-3" style="max-height: 230px; overflow: auto;">
      <h3>Food prefs:</h3>
      <ul id="food-list-head" class="col-md-6">
        <% for (var i = 0; i < user.cuisinePreferences.length; i++) { %>
          <li><%= user.cuisinePreferences[i] %></li>
        <% } %>
      </ul>
    </div>

    <div class="col-md-3" style="max-height: 230px; overflow: auto;">
      <h3>Genre prefs:</h3>
      <ul id="genre-list-head" class="col-md-6">
        <% for (var i = 0; i < user.genrePreferences.length; i++) { %>
          <li><%= user.genrePreferences[i] %></li>
        <% } %>
      </ul>
    </div>


  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Most Recent Favorites</h2>
    <!-- Conditionally show most recent starred -->
    <% if (user.movies.length == 0 && user.restaurants.length == 0) { %>
      <p>You have no favorites,
         to start liking dinners or movies click on the star
         icon after rolling a random date!</p>
    <% }%>
    <!-- <button class="btn">See All Favorites</button> -->
    <hr>
    <h2>Preferences</h2>
    <button type="button" id="preferences-button" name="button">Update Preferences</button>
    <div class="col-lg-12">
      <div class="col-lg-12">
        <h3><span class="col-lg-6">Cuisine Preferences</span><span class="col-lg-6">Genre Preferences</span></h3>
      </div>
      <div id="cuisine-preferences" class="container col-lg-6">
      </div>
      <div id="genre-preferences" class="container col-lg-6">
      </div>

    </div>
  </div>
</div>




</div>


<!-- Edit Modal -->
<div id="editModal" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Profile Info</h4>
    </div>
    <div class="modal-body">

      <!--  Form for edit -->
      <form method="post" action="/users/<%= user.id %>?_method=PATCH">
        <input type="text" placeholder="Name" name="local.username" value="<%= user.local.username%>"><br>
        <input type="text" placeholder="Zip Code" name="zipCode" value="<%= user.zipCode%>"><br>
        <button type="submit" class="btn btn-default  ">Submit</button>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <form class="delete-btn" action="<%=user.id%>/delete?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>

</div>
</div>

<script type="text/javascript">

  //console.log(user)

  var cuisineList = ['American (New)', 'American (Traditional)', 'Asian Fusion', 'Breakfast & Brunch', 'Burgers', 'Cafes', 'Chinese', 'Delis', 'Fast Food', 'Italian', 'Japanese', 'Mediterranean', 'Mexican', 'Pizza', 'Salad', 'Sandwiches', 'Seafood', 'Sushi Bars']
  var currentCuisineCount = $('#food-list-head').children().length
  var cuisineArray = []
  for (var i = 0; i < currentCuisineCount; i++) {
    cuisineArray.push($('#food-list-head').children()[i].innerHTML)
  }

  var genreList = ['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western']
  var currentGenreCount = $('#genre-list-head').children().length
  var genreArray = []
  for (var i = 0; i < currentGenreCount; i++) {
    genreArray.push($('#genre-list-head').children()[i].innerHTML)
  }

//creating our cuisine list item
  for (var i = 0; i < cuisineList.length; i++) {
    var currentCheck = cuisineList[i]
    var newCheckBox = '<label class="custom-control custom-checkbox col-md-6"><input type="checkbox" class="custom-control-input pull-left"'
    for (var n = 0; n < cuisineArray.length; n++) {
      if(cuisineArray[n] == currentCheck){
        newCheckBox += " checked"
      }
    }
    newCheckBox += '><span class="custom-control-indicator"></span><span class="custom-control-description">' + cuisineList[i] + '</span></label>'
    $('#cuisine-preferences').append(newCheckBox)
  }

//creating our genre list item
  for (var i = 0; i < genreList.length; i++) {
    var currentCheck = genreList[i]
    var newCheckBox = '<label class="custom-control custom-checkbox col-md-6"><input type="checkbox" class="custom-control-input pull-left"'
    for (var n = 0; n < genreArray.length; n++) {
      if(genreArray[n] == currentCheck){
        newCheckBox += " checked"
      }
    }
    newCheckBox += '><span class="custom-control-indicator"></span><span class="custom-control-description">' + genreList[i] + '</span></label>'
    $('#genre-preferences').append(newCheckBox)
  }




  var updatePreferences = $("#preferences-button")
  updatePreferences.on('click', function(){
    //checks if each box is checked and if it is will put it into an array
    var cuisines = []
    $('#cuisine-preferences').children().each(function(){
      if($(this).children().first().is(':checked')){
        cuisines.push($(this).children().last().html())
      }
    })
    var genres = []
    $('#genre-preferences').children().each(function(){
      if($(this).children().first().is(':checked')){
        genres.push($(this).children().last().html())
      }
    })
    var requestSetttings = {
      url: "/users/<%= user.id %>",
      method: "patch",
      data: JSON.stringify([cuisines, genres]),
      contentType: 'application/json'
    }
    //sending our arrays to the user on server
    $.ajax(requestSetttings).done(function(data){
      //will return the user with updated info
      console.log(data)
    })
  })
</script>
